@model SeznamUkonu.Models.SeznamCinnosti

@{
    ViewData["Title"] = "Odstranit";
}


<h3>Opravdu chcete odstranit tuto činnost?</h3>
<div>
    <h4>SeznamCinnosti</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kdy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kdy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JmenoCinnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JmenoCinnosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Podrobnosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Podrobnosti)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger m-1" /> |
        <a class="btn btn-secondary m-1" asp-action="Index">Zpět</a>
    </form>
</div>
